!.mvn/wrapper/maven-wrapper.jar

.idea
*.iml
*.iws
.DS_Store

*.dir
*.tmp
target/
.sonar-ide.properties
*/.sonar-ide.properties

.sonar

.project
.settings
.classpath
*.sublime-project
*.sublime-workspace

npm-debug.log

/node/
/node_modules/
/build-settings/

*.html.binary